@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align:center">
    <h1>The Flavour Frenzy</h1>
    <br />
    <h3>The Flavour Frenzy range:</h3>
</div>
<br />

<div style="text-align:center">
    <h3>Bites:</h3>
    <br />
    <div style="display: flex; flex-direction: row; justify-content: center;">
        <div style="display: flex; flex-direction: column; align-items: center; padding-left: 20px">
            <img src="https://dancingthroughtherain.com/wp-content/uploads/2020/02/Easy-Fried-Cheese-Bites81-720x720.jpg" height="200" width="200" />
            <p1 style="margin-top: 0; margin-bottom: 0;">Cheese bites</p1>
            <br />
            <p2 style="margin-top: 0;">Available at:</p2>
            <p2 style="margin-top: 0;">Westfield Newmarket</p2>
            <p2 style="margin-top: 0;">Countdown CBD</p2>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; padding-left: 20px">
            <img src="https://www.cookinwithmima.com/wp-content/uploads/2021/08/Crispy-Chicken-Bites-recipe.jpg" height="200" width="200" />
            <p1 style="margin-top: 0; margin-bottom: 0;">Chicken bites</p1>
            <br />
            <p2 style="margin-top: 0;">Available at:</p2>
            <p2 style="margin-top: 0;">Westfield Newmarket</p2>
            <p2 style="margin-top: 0;">Countdown CBD</p2>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; padding-left: 20px">
            <img src="https://feedingtinybellies.com/wp-content/uploads/2021/10/broccoli-and-cheese-bites-9-500x500.jpg" height="200" width="200" />
            <p1 style="margin-top: 0; margin-bottom: 0;">Broccoli bites</p1>
            <br />
            <p2 style="margin-top: 0;">Available at:</p2>
            <p2 style="margin-top: 0;">Westfield Newmarket</p2>
            <p2 style="margin-top: 0;">Countdown CBD</p2>
        </div>
    </div>
</div>
<br />
<br />
<div style="text-align:center">
    <h3>Patties:</h3>
    <br />
    <div style="display: flex; flex-direction: row; justify-content: center;">
        <div style="display: flex; flex-direction: column; align-items: center; padding-left: 20px">
            <img src="https://sipbitego.com/wp-content/uploads/2021/08/How-To-Make-Ground-Beef-Patties-For-Burgers-Sip-Bite-Go-Hamburger-Patties-Tutorial.jpg" height="200" width="200" />
            <p1 style="margin-top: 0; margin-bottom: 0;">Quarter pounder patties</p1>
            <br />
            <p2 style="margin-top: 0;">Available at:</p2>
            <p2 style="margin-top: 0;">Westfield Newmarket</p2>
            <p2 style="margin-top: 0;">Countdown CBD</p2>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; padding-left: 20px">
            <img src="https://40aprons.com/wp-content/uploads/2021/07/chicken-patties-5-1.jpg" height="200" width="200" />
            <p1 style="margin-top: 0; margin-bottom: 0;">Southern Style Chicken patties</p1>
            <br />
            <p2 style="margin-top: 0;">Available at:</p2>
            <p2 style="margin-top: 0;">Westfield Newmarket</p2>
            <p2 style="margin-top: 0;">Countdown CBD</p2>
        </div>
    </div>
</div>
<br />
<br />
<div style="text-align:center">
    <h3>Toppas:</h3>
    <br />
    <div style="display: flex; flex-direction: row; justify-content: center;">
        <div style="display: flex; flex-direction: column; align-items: center; padding-left: 20px">
            <img src="https://images.squarespace-cdn.com/content/v1/5e8d332e1b8f0c5457e72264/1589243580001-8DFPPVFY5W1G0QM34BML/lasagne.png" height="200" width="200" />
            <p1 style="margin-top: 0; margin-bottom: 0;">Lasagne toppas</p1>
            <br />
            <p2 style="margin-top: 0;">Available at:</p2>
            <p2 style="margin-top: 0;">Westfield Newmarket</p2>
            <p2 style="margin-top: 0;">Countdown CBD</p2>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; padding-left: 20px">
            <img src="https://images.squarespace-cdn.com/content/v1/5e8d332e1b8f0c5457e72264/1588906252391-Q1FQUH2WJNQGKZ3TC8FE/cordon+bleu.png?format=1000w" height="200" width="200" />
            <p1 style="margin-top: 0; margin-bottom: 0;">Chicken Cordin Bleu toppas</p1>
            <br />
            <p2 style="margin-top: 0;">Available at:</p2>
            <p2 style="margin-top: 0;">Westfield Newmarket</p2>
            <p2 style="margin-top: 0;">Countdown CBD</p2>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; padding-left: 20px">
            <img src="https://images.squarespace-cdn.com/content/v1/5e8d332e1b8f0c5457e72264/1589243083047-XWP48RZCPNNN3Z6MO78O/bacon+n+cheese.png?format=1000w" height="200" width="200" />
            <p1 style="margin-top: 0; margin-bottom: 0;">Bacon and Cheese toppas</p1>
            <br />
            <p2 style="margin-top: 0;">Available at:</p2>
            <p2 style="margin-top: 0;">Westfield Newmarket</p2>
            <p2 style="margin-top: 0;">Countdown CBD</p2>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
